.title {
  background-color: rgb(47, 241, 255);
  border: 0ch;
  text-align: center;
  border-radius: 10px 10px 0px 00px;
  margin-top: 1%;
}

.head {
  background-color: rgb(204, 204, 204);

}

table,
th,
td {
  border: 0px solid black;
  border-collapse: collapse;

}

.bigclass{
  border: 1px solid black ;
}

table{ 
  width: 100%;
  border: 1px solid black;
  height: 80px;
}
th{ 
  height: 80px;
}